<script type="text/javascript">
	new WOW().init();
</script>
<div class="preloader">
	<%=image_tag "img/loader.gif", alt: "Preloader image" %>
</div>
<header id="intro">
	<div class="container">
		<div class="table">
			<div class="header-text">
				<div class="row">
					<div class="col-md-12 text-center">
							<div class="row intro-tables">
								<a href="/google_maps/index">
								<div class="col-md-4 wow slideInLeft">
									<div class="intro-table intro-table-first">
										<h5 class="white heading">GoogleMaps</h5>
										<div class="owl-carousel owl-schedule bottom">
											<div class="item">
											<div class="schedule-row row">
													<div class="col-xs-6">
														<h5 class="regular white">Google Maps Javascript API</h5>
													</div>
													<div class="col-xs-6 text-right">
														<h5 class="white">Javascript reference for google maps</h5>
													</div>
												</div>
												<div class="schedule-row row">
													<div class="col-xs-6">
														<h5 class="regular white">Google Maps Geolocation API</h5>
													</div>
													<div class="col-xs-6 text-right">
														<h5 class="white">To get coordinates for a place and vice versa</h5>
													</div>
												</div>
											</div>
											<div class="item">								
												<div class="schedule-row row">
													<div class="col-xs-6">
														<h5 class="regular white">Google Maps Static API</h5>
													</div>
													<div class="col-xs-6 text-right">
														<h5 class="white">static view of google api</h5>
													</div>
												</div>
												<div class="schedule-row row">
													<div class="col-xs-6">
														<h5 class="regular white">Google Maps Distance Matrix API</h5>
													</div>
													<div class="col-xs-6 text-right">
														<h5 class="white">For calculating distance between to points</h5>
													</div>
												</div>
											</div>
											<div class="item">
								
												<div class="schedule-row row">
													<div class="col-xs-6">
														<h5 class="regular white">Google Maps Time Zone API</h5>
													</div>
													<div class="col-xs-6 text-right">
														<h5 class="white">Time zone api</h5>
													</div>
												</div>
												<div class="schedule-row row">
													<div class="col-xs-6">
														<h5 class="regular white">Google Maps Directions API</h5>
													</div>
													<div class="col-xs-6 text-right">
														<h5 class="white">Used For directions</h5>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								</a>
								<a href="/google_apps/index">
									<div class="col-md-4 wow fadeInUp">
										<div class="intro-table intro-table-hover">
											<h5 class="white heading">Google Apps</h5>
											<div class="owl-carousel owl-schedule bottom">
												<div class="item">
												<div class="schedule-row row">
														<div class="col-xs-6">
															<h5 class="regular white">Google Drive API</h5>
														</div>
														<div class="col-xs-6 text-right">
															<h5 class="white">Access to google drive</h5>
														</div>
													</div>
													<div class="schedule-row row">
														<div class="col-xs-6">
															<h5 class="regular white">Google Calendar API</h5>
														</div>
														<div class="col-xs-6 text-right">
															<h5 class="white">Management of google calendar</h5>
														</div>
													</div>
												</div>
												<div class="item">								
													<div class="schedule-row row">
														<div class="col-xs-6">
															<h5 class="regular white">Gmail API</h5>
														</div>
														<div class="col-xs-6 text-right">
															<h5 class="white">Access to Gmail</h5>
														</div>
													</div>
													<div class="schedule-row row">
														<div class="col-xs-6">
															<h5 class="regular white">Google Sheets API</h5>
														</div>
														<div class="col-xs-6 text-right">
															<h5 class="white">Access To Google Sheets</h5>
														</div>
													</div>
												</div>
												<div class="item">
									
													<div class="schedule-row row">
														<div class="col-xs-6">
															<h5 class="regular white"> Google Contacts API</h5>
														</div>
														<div class="col-xs-6 text-right">
															<h5 class="white">google contacts api</h5>
														</div>
													</div>
													<div class="schedule-row row">
														<div class="col-xs-6">
															<h5 class="regular white">Google CalDAV API</h5>
														</div>
														<div class="col-xs-6 text-right">
															<h5 class="white">Need to check</h5>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</a>
								<a href="/google_maps/other">
									<div class="col-md-4  wow slideInRight">
										<div class="intro-table intro-table-third">
											<h5 class="white heading">Advertising Other Popular API</h5>
											<div class="owl-carousel owl-schedule bottom">
												<div class="item">
												<div class="schedule-row row">
														<div class="col-xs-6">
															<h5 class="regular white">Google Maps Javascript API</h5>
														</div>
														<div class="col-xs-6 text-right">
															<h5 class="white">Javascript reference for google maps</h5>
														</div>
													</div>
													<div class="schedule-row row">
														<div class="col-xs-6">
															<h5 class="regular white">Google Maps Geolocation API</h5>
														</div>
														<div class="col-xs-6 text-right">
															<h5 class="white">To get coordinates for a place and vice versa</h5>
														</div>
													</div>
												</div>
												<div class="item">								
													<div class="schedule-row row">
														<div class="col-xs-6">
															<h5 class="regular white">Google Maps Static API</h5>
														</div>
														<div class="col-xs-6 text-right">
															<h5 class="white">static view of google api</h5>
														</div>
													</div>
													<div class="schedule-row row">
														<div class="col-xs-6">
															<h5 class="regular white">Google Maps Distance Matrix API</h5>
														</div>
														<div class="col-xs-6 text-right">
															<h5 class="white">For calculating distance between to points</h5>
														</div>
													</div>
												</div>
												<div class="item">
									
													<div class="schedule-row row">
														<div class="col-xs-6">
															<h5 class="regular white">Google Maps Time Zone API</h5>
														</div>
														<div class="col-xs-6 text-right">
															<h5 class="white">Time zone api</h5>
														</div>
													</div>
													<div class="schedule-row row">
														<div class="col-xs-6">
															<h5 class="regular white">Google Maps Directions API</h5>
														</div>
														<div class="col-xs-6 text-right">
															<h5 class="white">Used For directions</h5>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>
						<span class="typed-cursor">@</span>
						<h3 class="light white">Google Home</h3>
						<h1 class="white typed">development of google apis ... </h1>
						<span class="typed-cursor">|</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
