<div class="modal_class modal fade " id="myModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Email</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-1"><h5> To </h5></div>
          <div class="col-lg-8"> <input type="email" size="50" class="form-control" /> </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <textarea class="form-control" placeholder="Type here ..." rows="20"></textarea>
          </div>
        </div>
      </div>  
      <div class="modal-footer modal_footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>



<div class="full_page">
  <div class="navbar navbar-inverse gmail_home">
    <div class="container-fluid">
      <div class="navbar-header">
        
        <a class="navbar-brand" href="javascript:void(0)"><i class=" fa fa-envelope fa-3x"></i></a>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="javascript:void(0)"><b>Mailing Mania</b></a></li>
          <li class="dropdown">
            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Templates
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </li>
          <li><a href="javascript:void(0)">About</a></li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control col-md-8" placeholder="Search">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal">New Mail</a></li>
          <li class="dropdown">
            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Settings
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="gmail_body">
    <div class="col-md-2 gmail_side_bar">
      <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-pills nav-stacked side_menu">
            <li role="presentation" class="active"><a href="#">All Mails</a></li>
            <li role="presentation"  class="active"><a href="#">Inbox</a></li>
            <li role="presentation"  class="active"><a href="#">Starred</a></li>
             <li role="presentation"  class="active"><a href="#">Important</a></li>
            <li role="presentation"  class="active"><a href="#">SentMail</a></li>
             <li role="presentation"  class="active"><a href="#">Spam</a></li>
            <li role="presentation"  class="active"><a href="#">Trash</a></li>
             <li role="presentation"  class="active"><a href="#">Profile</a></li>
            <li role="presentation"  class="active"><a href="#">Messages</a></li>
          </ul>
        </div>
      </div>
<!--       <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-pills nav-stacked side_menu">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"  class="active"><a href="#">Profile</a></li>
            <li role="presentation"  class="active"><a href="#">Messages</a></li>
             <li role="presentation"  class="active"><a href="#">Profile</a></li>
            <li role="presentation"  class="active"><a href="#">Messages</a></li>
             <li role="presentation"  class="active"><a href="#">Profile</a></li>
            <li role="presentation"  class="active"><a href="#">Messages</a></li>
             <li role="presentation"  class="active"><a href="#">Profile</a></li>
            <li role="presentation"  class="active"><a href="#">Messages</a></li>
          </ul>
        </div>
      </div> -->
    </div>

    <div class="col-md-9 gmail_panel">
      <div class="row">
        <div class="col-lg-1">
          <h5 class="mail_from">From</h5>
        </div>
        <div class="col-lg-8">
            <h5 class="mail_subject">Subject something something something something something something </h5>
        </div>
      </div>
    </div>
    <div class="col-md-9 gmail_panel">
      <div class="row">
        <div class="col-lg-1">
          <h5 class="mail_from">From</h5>
        </div>
        <div class="col-lg-8">
            <h5 class="mail_subject">Subject something something something something something something </h5>
        </div>
      </div>
    </div>
    <div class="col-md-9 gmail_panel">
      <div class="row">
        <div class="col-lg-1">
          <h5 class="mail_from">From</h5>
        </div>
        <div class="col-lg-8">
            <h5 class="mail_subject">Subject something something something something something something </h5>
        </div>
      </div>
    </div>
    <div class="col-md-9 gmail_panel">
      <div class="row">
        <div class="col-lg-1">
          <h5 class="mail_from">From</h5>
        </div>
        <div class="col-lg-8">
            <h5 class="mail_subject">Subject something something something something something something </h5>
        </div>
      </div>
    </div>
    <div class="col-md-9 gmail_panel">
      <div class="row">
        <div class="col-lg-1">
          <h5 class="mail_from">From</h5>
        </div>
        <div class="col-lg-8">
            <h5 class="mail_subject">Subject something something something something something something </h5>
        </div>
      </div>
    </div>
    <div class="col-md-9 gmail_panel">
      <div class="row">
        <div class="col-lg-1">
          <h5 class="mail_from">From</h5>
        </div>
        <div class="col-lg-8">
            <h5 class="mail_subject">Subject something something something something something something </h5>
        </div>
      </div>
    </div>
    <div class="col-md-9 gmail_panel">
      <div class="row">
        <div class="col-lg-1">
          <h5 class="mail_from">From</h5>
        </div>
        <div class="col-lg-8">
            <h5 class="mail_subject">Subject something something something something something something </h5>
        </div>
      </div>
    </div>
    <div class="col-md-9 gmail_panel">
      <div class="row">
        <div class="col-lg-1">
          <h5 class="mail_from">From</h5>
        </div>
        <div class="col-lg-8">
            <h5 class="mail_subject">Subject something something something something something something </h5>
        </div>
      </div>
    </div>
    <div class="col-md-9 gmail_panel">
      <div class="row">
        <div class="col-lg-1">
          <h5 class="mail_from">From</h5>
        </div>
        <div class="col-lg-8">
            <h5 class="mail_subject">Subject something something something something something something </h5>
        </div>
      </div>
    </div>
    <div class="col-md-9 gmail_panel">
      <div class="row">
        <div class="col-lg-1">
          <h5 class="mail_from">From</h5>
        </div>
        <div class="col-lg-8">
            <h5 class="mail_subject">Subject something something something something something something </h5>
        </div>
      </div>
    </div>
    <div class="col-md-9 gmail_panel">
      <div class="row">
        <div class="col-lg-1">
          <h5 class="mail_from">From</h5>
        </div>
        <div class="col-lg-8">
            <h5 class="mail_subject">Subject something something something something something something </h5>
        </div>
      </div>
    </div>
    <div class="col-md-9 gmail_panel">
      <div class="row">
        <div class="col-lg-1">
          <h5 class="mail_from">From</h5>
        </div>
        <div class="col-lg-8">
            <h5 class="mail_subject">Subject something something something something something something </h5>
        </div>
      </div>
    </div>
    <div class="col-md-9 gmail_panel">
      <div class="row">
        <div class="col-lg-1">
          <h5 class="mail_from">From</h5>
        </div>
        <div class="col-lg-8">
            <h5 class="mail_subject">Subject something something something something something something </h5>
        </div>
      </div>
    </div>
    <div class="col-md-9 gmail_panel">
      <div class="row">
        <div class="col-lg-1">
          <h5 class="mail_from">From</h5>
        </div>
        <div class="col-lg-8">
            <h5 class="mail_subject">Subject something something something something something something </h5>
        </div>
      </div>
    </div><div class="col-md-9 gmail_panel">
      <div class="row">
        <div class="col-lg-1">
          <h5 class="mail_from">From</h5>
        </div>
        <div class="col-lg-8">
            <h5 class="mail_subject">Subject something something something something something something </h5>
        </div>
      </div>
    </div>
    
    </div>
  </div>  
</div>